[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchaudio = "*"
ipython = "*"
scipy = "*"
gradio = "*"
numpy = "*"
pandas = "*"
soundfile = "*"
diffusers = "*"
transformers = "*"
accelerate = "*"
tensorflow = "*"
keras = "*"
datasets = "*"
sentencepiece = "*"
evaluate = "*"
nltk = "*"
rouge-score = "*"
tf-keras = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
